@model Sucre_Models.ParameterTypeM
@{
    Layout = "_Layout";
    ViewData["Title"] = "Parameter Type - Create";
}

<div class="container">
    <form method="post" asp-action="Create">
        <div class="border p-3 bg-white">
            RRRRRRRRR
        </div>
        <div class="card p-3 bg-white">
            <div class="card-header">
                RRRRRRRRR
            </div>
        </div>
    </form>
</div>
