@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row bg-info">
        <div class="col text-center">
            <h1 class="display-4 fw-bold">С У К Р Э</h1>
        </div>
        
    </div>
    <div class="row text-center m-2">
        <div class="col">
            <img src="~/images/Sukred.png" class="w-50 img-fluid img-thumbnail" alt="Calculation of calibration graph" />
        </div>
    </div>
    @* <a asp-controller="Point" asp-action="PointCannalesIndex" asp-route-Id="1">
        <p class="h1 display-1">Point Id-1 Canals</p>
    </a> *@
</div>


