@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* <p>Use this page to detail your site's privacy policy.</p> *@
<div class="container-fluid">
    <p class="alert alert-primary h4" role="alert"><strong>Subject course:</strong> Industrial software development on ASP.Net (
        <a class="link-primary alert-link" href="https://www.grodno.it-academy.by/course/asp-net-developer/" 
            target="_blank">
            IT-Academy
        </a>)
    </p>
    <p class="alert alert-success h4" role="alert"><strong>Course student:</strong> Postnik Igor</p>
    <p class="alert alert-success h4" role="alert"><strong>Email:</strong>
        <a class="link-primary alert-link" href="mailto:posigo@gmail.gom" target="_blank">posigo@gmail.gom</a>
    </p>
    <p class="alert alert-secondary h4" role="alert"><strong>Project topic:</strong> СУКРЭ</p>
    <p class="alert alert-secondary h4" role="alert">
        <strong>Link to the project:</strong> Git (branch: main)
        <a class="link-primary alert-link" href="https://github.com/posigo/ItAcademy_Sucre.git" target="_blank">
            https://github.com/posigo/ItAcademy_Sucre.git
        </a>
    </p>
</div>
